body{
    height: 800px;
    background-color: rgb(202, 232, 250);
}


#rodape{
position: relative;
left: 60%;
   
}

#nav{
    
    position: fixed;
    width: 100%;
    height: auto;

}

#danger {
    width: 400px;
    margin: auto;
    background-color: #FF6347;
}

.container {
    position: relative;
    top: 100px;
    max-width: 500px;
    height: 450px;
    margin: 0 auto;
    background-color: rgb(245, 247, 248);
    border-radius: 10px;
}


#buton {
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], select {
    background-color: rgb(21, 184, 129);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(12, 160, 57);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=reset], select {
    background-color: rgb(79, 170, 245);
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    display: inline-block;
    border: 1px solid rgb(95, 176, 230);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}