body {
    font-family: 'Lato', sans-serif;
}

.soverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(19, 19, 19);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.soverlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.soverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: gray;
    display: block;
    transition: 0.3s;
}

.soverlay a:hover, .soverlay a:focus {
    color: #f1f1f1;
}

.soverlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .soverlay a {
        font-size: 20px
    }
    .soverlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}